.logo-about{
  img{
    height: 94px;
  }
}
//===================================
.desc_1{
  a{
    color: #2ab574;
  }
  span{
    &.c1{

    }
  }
}
//===================================
.box_img{
  height: 64px;
}
//===================================
.title_1{
  @extend .fz1;
  span,
  em{
    color: #2ab574;
  }
}