.title_4{
  @extend .fz1;
  color: #283891;
}
//===================================
.btn1{
  background-image: linear-gradient(248deg, #2ab574 50%, #283891 100%);
  color: #ffffff;
  font-family: $font-Elle-Futura-Bold;
}