body{
  font-family: $font-Elle-Futura-Regular;
  @extend .dz1;
}
//===================================
.fz1{
  font-family: $font-Elle-Futura-Bold;
  font-size: 17px;
  @media (min-width: 640px) {
    font-size: 18px !important;
  }
  @media (min-width: 960px) {
    font-size: 20px !important;
  }
}
//===================================
.uk-container-x{
  max-width: 1010px;
}
//===================================
.dz2{
  font-size: 15px;
  line-height: 1.6;
  @media (min-width: 640px) {
    font-size: 16px !important;
  }
}
//===================================
.dz1{
  font-size: 14px;
  line-height: 1.6;
  color: #000;
  @media (min-width: 640px) {
    font-size: 15px !important;
  }
}